extends layout/default

block scripts

append styles
  :stylus
    .row
      margin-bottom 10px

      >*
        height 40px
        background-color #AAA

append content
  .row
    .col-1 .col-1
    .col-1 .col-1
    .col-1 .col-1
    .col-1 .col-1
    .col-1 .col-1
    .col-1 .col-1
    .col-1 .col-1
    .col-1 .col-1
    .col-1 .col-1
    .col-1 .col-1
    .col-1 .col-1
    .col-1 .col-1

  .row
    .col-2 .col-2
    .col-2 .col-2
    .col-2 .col-2
    .col-2 .col-2
    .col-2 .col-2
    .col-2 .col-2

  .row
    .col-3 .col-3
    .col-3 .col-3
    .col-3 .col-3
    .col-3 .col-3

  .row
    .col-4 .col-4
    .col-4 .col-4
    .col-4 .col-4

  .row
    .col-6 .col-6
    .col-6 .col-6
