extends layout/default

block scripts

append styles
  :stylus
    .row
      margin-bottom 10px

      >*
        height 40px
        background-color #AAA

append content
  .row
    .col-1.offset-1 .col-1.offset-1

  .row
    .col-1.offset-2 .col-1.offset-2

  .row
    .col-1.offset-3 .col-1.offset-3

  .row
    .col-1.offset-4 .col-1.offset-4

  .row
    .col-1.offset-5 .col-1.offset-5

  .row
    .col-1.offset-6 .col-1.offset-6

  .row
    .col-1.offset-7 .col-1.offset-7

  .row
    .col-1.offset-8 .col-1.offset-8

  .row
    .col-1.offset-9 .col-1.offset-9

  .row
    .col-1.offset-10 .col-1.offset-10

  .row
    .col-1.offset-11 .col-1.offset-11
